@font-face {
    font-family: MyFont;
    src: url('./images/fonts/Roboto-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 14, 39);
    height: 100vh;
    font-family: MyFont;
}

.main {
    width: 550px;
    height: 320px; 
    border-radius: 15px;
    padding: 40px;
    background-color: rgba(94, 94, 120, 0.441);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main h3 {
    color: green;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.main h1 {
    color: white;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 2px;
}

.divider {
    width: 100%;
    margin-bottom: 30px;
}

.main a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(49, 249, 182);
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main a:active{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow:  rgb(49, 249, 182) 0px 5px 20px 4px;
}

@media screen and (max-width: 660px) {
    .main {
        width: 80%; 
        max-width: none;
    }

    .main h1 {
        font-size: 20px;
    }

    .divider {
        width: 100%;
    }
}